apiVersion: apps/v1
kind: Deployment
metadata:
  name: stackset-controller
  namespace: kube-system
  labels:
    application: stackset-controller
    version: latest
spec:
  replicas: 1
  selector:
    matchLabels:
      application: stackset-controller
  template:
    metadata:
      labels:
        application: stackset-controller
        version: latest
    spec:
      serviceAccountName: stackset-controller
      containers:
      - name: stackset-controller
        image: registry.opensource.zalan.do/teapot/stackset-controller:v1.3.37
        # please adjust this for your environment
        args: ["--cluster-domain=kubernetes.local"]
        resources:
          limits:
            cpu: 10m
            memory: 100Mi
          requests:
            cpu: 10m
            memory: 100Mi
